body{
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calculadora{
    background-color: blue;
    width: 35vw;
    height: 90vh;
}

.butList{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
    gap: 1vw;
}

.calcBtn{
    background-color: red;
    width: 7vw;
    height: 15vh;
}

.screen{
    width: 90vw;
    height: 10vh;
    background-color: black;
}